body {
    background-size: 100vw 100vh;
    background-image: url('pexels-felixmittermeier-956999.jpg');
}

.navbar-blurred {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0px;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
    color: #ffffffda
}

.hosgeldin-mesajı {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffea;
    font-size: 15vh;
    text-align: center;
    font-family: "hosgeldin-fontu", sans-serif;
}

@font-face {
    font-family: "hosgeldin-fontu";
    src: url(Rockidz3D3D-xmvj.ttf) format(truetype);
}

@media (max-width:1200px) {
    .hosgeldin-mesajı{
        font-size: 7vh;

    }
}

@media (max-width:540px) {
    .hosgeldin-mesajı{
        font-size: 4vh;

    }
}