* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-size: 100vw 100vh;
  background-color: #000000;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: rgb(245, 245, 245);
}

.navbar-light:hover .navbar-brand:hover {
  color: rgb(245, 245, 245);
}

a {
  color: inherit;
  text-decoration: none;
}

p {

  color: #ffffffea;
  font-size: 15px;
  text-align: center;

}

a:hover {
  color: inherit;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffffda;
}


.navbar-light .navbar-brand {
  color: #ffffffda;
}

.navbar-light .navbar-nav .nav-item.active .nav-link {
  color: #ffffff;

}

.navbar-blurred {
  backdrop-filter: blur(8px);
  background-color: rgba(29, 29, 29, 0.685);
  border-radius: 0px;
  padding: 10px;
}

.resim img {
  border-radius: 50%;
  width: auto;
  height: 42.66666666666667vh;
}

.resim {

  position: relative;
}

.hakkimda-mesaji {

  position: relative;
  top: 0%;
  color: #ffffffea;
  font-size: 5vh;
  text-align: center;
  text-transform: none;
  font-family: 'Times New Roman', Times, serif;
}

.baslik-mesaji {

  position: relative;
  color: #ffffffea;
  font-size: 4vh;
  text-align: center;
  text-transform: none;
  font-family: "resim-fontu", sans-serif;
}

@font-face {
  font-family: "resim-fontu";
  src: url(Rockidz3D3D-xmvj.ttf) format(truetype);
}

.biyografi-mesaj {
  position: relative;
  width: 45vw;
}

.insta {
  position: relative;
}

.insta img {
  width: auto;
  height: 3.3333333333333335vh;
}

.futbol {
  position: relative;
}

.futbol img {
  width: auto;
  height: 10.66666666666667vh;
}

.futbol-mesaj {
  position: relative;
  width: 20vw;
}

.diziFilm {
  position: relative;
}


.diziFilm img {
  width: auto;
  height: 10.66666666666667vh;
}

.diziFilm-mesaj {

  position: relative;
  width: 20vw;
}

.müzik {
  position: relative;

}

.müzik-mesaj {

  position: relative;
  width: 20vw;
}

.müzik img {
  width: auto;
  height: 10.66666666666667vh;
  border-radius: 0;
}

.oyun {
  position: relative;
  ;
}

.oyun img {
  width: auto;
  height: 10.66666666666667vh;
}

.oyun-mesaj {

  position: relative;
  width: 20vw;
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 96%;
  height: auto;
  margin: 0 auto;
}

.üst, .alt {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}

.ana-container {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  margin-top: 20px;
}

.futbol-container {
  position: relative;
  width: 22vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  margin-top: 20px;
}

.oyun-container {
  position: relative;
  width: 22vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.diziFilm-container {
  position: relative;
  width: 22vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  margin-top: 20px;
}

.müzik-container {
  position: relative;
  width: 22vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  p {
    font-size: 9px;
  }

  .hakkimda-mesaji {
    font-size: 4vh;
  }

  .resim img {
    width: 100%;
  }

  .futbol img {

    width: 100%;

  }

  .diziFilm img {

    width: 100%;

  }

  .müzik img {

    width: 100%;

  }

  .oyun img {

    width: 100%;

  }
}

@media (min-width: 601px) {
  p {
    font-size: 9.75px;
  }

  .hakkimda-mesaji {
    font-size: 4vh;
  }

  .resim img {
    width: 100%;
  }

  .futbol img {

    width: 100%;

  }

  .diziFilm img {

    width: 100%;

  }

  .müzik img {

    width: 100%;

  }

  .oyun img {

    width: 100%;

  }
}

@media (min-width: 768px) and (min-height: 400px) {
  p {
    font-size: 11.5px;
  }

  .hakkimda-mesaji {
    font-size: 4vh;
  }

  .resim img {
    width: 100%;
  }

  .futbol img {

    width: 100%;

  }

  .diziFilm img {

    width: 100%;

  }

  .müzik img {

    width: 100%;

  }

  .oyun img {

    width: 100%;

  }
}

@media (min-width: 992px) and (min-height: 500px) {
  p {
    font-size: 12.5px;
  }
}

@media (min-width: 1200px) and (min-height: 600px) {
  p {
    font-size: 14px;
  }
}

@media (min-width: 1440px) and (min-height:720px) {
  p {
    font-size: 15px;
  }
}