body {
  background-size: 100vw 100vh;
  background-color: #000000;
}


.navbar-light .navbar-nav .nav-link {
  color: #ffffffda;
}

/* Navbar brand'in rengi */
.navbar-light .navbar-brand {
  color: #ffffffda;
}

/* Aktif olan sekmenin rengi */
.navbar-light .navbar-nav .nav-item.active .nav-link {
  color: #ffffff; /* Aktif olan sekmenin rengi */
  /* Daha fazla stil belirtebilirsiniz */
}



.navbar-blurred {
  backdrop-filter: blur(8px);
  background-color: rgba(29, 29, 29, 0.685);
  border-radius: 0px;
  padding: 10px;
}

img {
  border-radius: 50%;
  width: 24vw; 

}

.resim {

  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hakkimda-mesaji {

  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffffea;
  font-size: 5vh;
  text-align: center;
  text-transform: none;
  font-family: 'Times New Roman', Times, serif;
}

.baslik-mesaji {

  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffffea;
  font-size: 4vh;
  text-align: center;
  text-transform: none;
  font-family: "resim-fontu", sans-serif ;
}

@font-face {
  font-family: "resim-fontu";
  src: url(Rockidz3D3D-xmvj.ttf) format(truetype);
}

.biyografi-mesaj{

  position: absolute;
  top: 79%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffffea;
  font-size: 1,5vh;
  text-align: center;
width: 45vw;
}