<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ümit Çetin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="iletişim.css">
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light navbar-blurred">

        <a class="navbar-brand" href="http://webpproje/index.html">Ümit Çetin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://webpproje/hakkımda.html">Hakkımda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://webpproje/cv.html">Özgeçmiş</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://webpproje/sehir.html">Şehrim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://webpproje/takim.html">Takımımız</a>
                <li class="nav-item">
                    <a class="nav-link" href="http://webpproje/ilgiAlani.html">İlgi alanlarım</a>
                <li class="nav-item active">
                    <a class="nav-link" href="http://webpproje/iletişim.html">İletişim<span
                            class="sr-only">(current)</span></a>
        </div>
        <form class="form-inline">
            <a href="giris.html"> <button class="btn btn-outline-warning" type="button">Giriş Yap</button></a>
        </form>
        </div>
        </div>
        </li>
        </ul>
    </nav>


    <div id="iletisim" style="padding: 20px;">
        <h1>İletişim Formu</h1>
        <form @submit.prevent="formGönder">
            <div>
                <label for="isim">Adınız:</label>
                <input type="text" id="isim" v-model="form.isim">
                <span v-if="errors.isim">{{ errors.isim }}</span>
            </div>
            <div>
                <label for="soyad">Soyadınız:</label>
                <textarea id="soyad" v-model="form.soyad"></textarea>
                <span v-if="errors.soyad">{{ errors.soyad }}</span>
                <div>
                    <label for="email">E-posta:</label>
                    <input type="email" id="email" v-model="form.email">
                    <span v-if="errors.email">{{ errors.email }}</span>
                </div>
                <div>
                    <label for="telefon">Telefon Numaranız:</label>
                    <input type="text" id="telefon" v-model="form.telefon">
                    <span v-if="errors.telefon">{{ errors.telefon }}</span>
                </div>
                <div class="checkbox">
                    <label>Cinsiyet: &nbsp;</label>                   
                    <label for="erkek">Erkek &nbsp;&nbsp;</label>
                    <input type="radio" id="erkek" value="Erkek" v-model="form.cinsiyet" style="width: 10px; align-self: center;" >
                    <label for="kadin">&nbsp;&nbsp;&nbsp;Kadın&nbsp;&nbsp;&nbsp;</label>
                    <input type="radio" id="kadin" value="Kadın" v-model="form.cinsiyet" style="width: 10px; align-self: center;">
                    <span v-if="errors.cinsiyet">{{ errors.cinsiyet }}</span>
                </div>
                <div>
                    <label for="mesaj">Mesaj:</label>
                    <textarea id="mesaj" v-model="form.mesaj"></textarea>
                    <span v-if="errors.mesaj">{{ errors.mesaj }}</span>
                </div>
                <div>
                    <button type="button" @click="formKontrol">Vue ile Gönder</button>
                    <button id="js-gonder-button" type="button" onclick="jsIleGonder()">JS ile Gönder</button>
                    <button type="button" @click="formTemizle">Temizle</button>
                </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="iletisim.js"></script>








    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>

</html>